{% extends 'base.html.twig' %}

{% block title %}Hello NutritionController!{% endblock %}

{% block body %}


<div>


    <p id="subtitulo">Mejora tu Nutrición</p>
    <div id="almilialeregalaronelcredito">
    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/why-eat-more-fiber-intro.jpg" /></div>
    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/fasting-is-good-for-you-intro.jpg"/></div>
    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/post-pre-workout-intro.jpg" /></div>

    <div class="columnanut"><p class="blanco">¿Necesitamos comer más Fibra?</p></div>
    <div class="columnanut"><p class="blanco">Ayuno Intermitente</p></div>
    <div class="columnanut"><p class="blanco">Nutrición Pre y Post Entrenamiento</p></div>



    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/calories-intro.jpg" /></div>
    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/drink-more-water-intro.jpg"/></div>
    <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/fitness-and-alcohol-intro.jpg" /></div>

    <div class="columnanut"><p class="blanco">Como contar las calorias</p></div>
    <div class="columnanut"><p class="blanco">Como beber mas agua</p></div>
    <div class="columnanut"><p class="blanco">Alcohol y Fitness</p></div>
    </div>
        </body>





</div>
{% endblock %}
