{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}




            {% for exercise in exercises %}


                <a ><h1>{{ exercise.name}}</h1></a>

                </div>

        {% endfor %}





{% endblock %}