{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
    <p id="subtitulo">Ejercicios por grupos musculares</p>
    {% for musclegroups in musclegroup %}

        <div id="rutinabloque">

            <div>

                <a class="tituloej" href="{{ path('exercisemuscle',{'id':musclegroups.id} )}}"><h1>{{ musclegroups.name }}</h1></a>
                <a href="{{ path('exercisemuscle',{'id':musclegroups.id} )}}"><img class="exerciseimg" src="{{ musclegroups.img }}" align="center"></a>

                </body>



                <p id="fix">Arreglo</p>

            </div>
        </div>

    {% endfor %}
{% endblock %}

